<!DOCTYPE html>
<html>
<head>
    <title>OMR Examples</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add Cropper.js CSS and JS links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <style>
        body {
            width: auto; 
            height: auto;
            font: 15px arial;
            margin: 0 auto;
            margin-bottom: calc(10vh + 20px); /* Add room for the footer */
        }
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
            background-color: #f5f5f5;
            font: 9px arial;
            z-index: 1;
            margin: 100 100;
        }
        .form-group {
            text-align: center; 
          }          
        .preview-txt {
            position: center;
            font: 50px times;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="container mt-5 wider-content" name="upload_area" id="upload_area">
        <div class="row justify-content-center">
            <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="text-center">Select an Example</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <button type="button" class="btn btn-info btn-med" onclick="openTest()" id="test-button">
                                    <span class="glyphicon glyphicon-tag"></span> PrIMus Image
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info btn-med" onclick="openExample()" id="example-button">
                                    <span class="glyphicon glyphicon-ok"></span> Verified example
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info btn-med" onclick="openScore()" id="score-button">
                                    <span class="glyphicon glyphicon-pencil"></span> Make your own
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>
        <div class="row justify-content-center" id="uploads-area">
            <div class="col-md-4">
                <!-- Your existing content goes here -->
            </div>
            <div class="col-md-auto">
                <a href="/">Or upload an image</a>
            </div>
        </div>
        
    </div>
    
    <div class="container mt-5" hidden="true" name="cropping_area", id="cropping_area">
        <!-- Allow the User to Select a Model-->
        <div class="row justify-content-center" name="parameter_area", id="parameter_area">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="model">Select a Model:</label>
                    <select class="form-control" id="model" name="model">
                        {% for i in range(models|length) %}
                        <option value="{{ models[i] }}">{{ models[i] }} ({{ dates[i] }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="instrument">Select an Instrument:</label>
                    <select class="form-control" id="instrument" name="instrument">
                        {% for i in range(instruments|length) %}
                        <option value="{{ instruments[i] }}">{{ instruments[i] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" name="tempo_area">
                    <label for="numeric-slider">Tempo: </label>
                    <br>
                    
                    <input type="range" id="numeric-slider" name="numeric-slider" min="1" max="300" value="60">
                    <input type="number" id="numeric-input" name="numeric-input" min="1" max="300" value="60">
                    <label> bpm</label>

                    <script>
                        // Add event listeners to keep the slider and input in sync
                        document.getElementById('numeric-slider').addEventListener('input', function() {
                            document.getElementById('numeric-input').value = this.value;
                        });
    
                        document.getElementById('numeric-input').addEventListener('input', function() {
                            document.getElementById('numeric-slider').value = this.value;
                        });
                    </script>
                </div>
                
            </div>
        </div>
        <form method="POST" action="/upload" enctype="multipart/form-data" name="pform" id="pform">
            <!-- Add an image preview and cropping area -->
            <div class="form-group mt-3">
                <div class="image-container">
                    <p class="preview-txt">Image Preview</p>
                    <img id="croppedImage" alt="Cropped Image">
                    <input type="hidden" name="image_data" id="image_data">
                    <input type="hidden" name="model_data" id="model_data">
                    <input type="hidden" name="instrument_data" id="instrument_data">
                    <input type="hidden" name="tempo_data" id="tempo_data">
                </div>
            </div>
            <br>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-lg" onclick="submitCroppedImages()" id="submission-button" >Upload and Process</button>
                <br>
            </div>
            
        </form>
    </div>
    <footer class="mt-5">
        <p class="text-center"></p>
        <p class="text-center"> Website Source Code: <a href="https://github.com/MasonDill/mono-web">https://github.com/MasonDill/mono-web</a>
         OMR Source Code: <a href="https://github.com/MasonDill/tf-end-to-end">https://github.com/MasonDill/tf-end-to-end</a>
         Published OMR Models: <a href="https://huggingface.co/MasonDill/Monophonic_OMR">https://huggingface.co/MasonDill/Monophonic_OMR</a></p>
    </footer>
    <!-- Add Bootstrap JS and jQuery links for enhanced functionality -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    
    <script>
        function handleImageChange(file) {
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    image.src = e.target.result;
                    cropper.replace(e.target.result);
                };
                reader.readAsDataURL(file);

                // Show the cropping area
                document.getElementById('cropping_area').hidden = false;
                document.getElementById('uploads-area').hidden = true;               
            }
        }
        
        // Initialize Cropper.js and add the event listener for the 'file' input
        const image = document.getElementById('croppedImage');
        var cropper = new Cropper(image, {
            viewMode: 2, // Set the view mode to 'crop'
            ready() {
                cropper.setCropBoxData({
                    left: 0,
                    top: 0,
                    width: 0xFFFFFFFF, // Select the entire canvas
                    height: 0xFFFFFFFF,
                });
            },
        });

        function submitCroppedImages() {
            form = document.getElementsByTagName('pform')[0];

            // Set the formdata object to the cropped image data
            const formData = new FormData(form);

            // Get the cropped canvas
            formData.append('image_data', cropper.getCroppedCanvas().toDataURL());

            const hideenImageData = document.getElementById('image_data');
            hideenImageData.value = cropper.getCroppedCanvas().toDataURL();

            // Get the parameters from the form
            const model = document.getElementById('model');
            const instrument = document.getElementById('instrument');
            const tempo = document.getElementById('numeric-input');
            formData.append('model', model.value);
            formData.append('instrument', instrument.value);
            formData.append('tempo', tempo.value);

            // Set the hidden form values
            const hiddenModel = document.getElementById('model_data');
            hiddenModel.value = model.value;

            const hiddenInstrument = document.getElementById('instrument_data');
            hiddenInstrument.value = instrument.value;

            const hiddenTempo = document.getElementById('tempo_data');
            hiddenTempo.value = tempo.value;
            //Show the loading animation
            document.getElementById('submission-button').innerHTML = 'Processing <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>';
            
            // Submit the form
            //form.submit();
            
        }

        function openExample() {
            // Perform a GET request to get the example image, then pass it to handleImageChange
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/example-image');
            xhr.responseType = 'blob';
            xhr.onload = function () {
                const file = new File([this.response], 'example.png');
                handleImageChange(file);
            };
            xhr.send();

            
            // Show the cropping area
            document.getElementById('cropping_area').hidden = false;
            document.getElementById('uploads-area').hidden = true;

        }
        function openTest() {
            // Perform a GET request to get the example image, then pass it to handleImageChange
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/test-image');
            xhr.responseType = 'blob';
            xhr.onload = function () {
                console.log(this.response)
                const file = new File([this.response], 'example.png');
                // put the image in the cropping area
                handleImageChange(file);
            };
            xhr.send();

            // Show the cropping area
            document.getElementById('cropping_area').hidden = false;
            document.getElementById('uploads-area').hidden = true;

        }
        function openScore() {
            // Perform a GET request to get the example image, then pass it to handleImageChange
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/score-image');
            xhr.responseType = 'blob';
            xhr.onload = function () {
                const file = new File([this.response], 'example.png');
                handleImageChange(file);    
            };
            xhr.send();

            // Show the cropping area
            document.getElementById('cropping_area').hidden = false;
            document.getElementById('uploads-area').hidden = true;
            
        }

    </script>
</body>
</html>
