<!DOCTYPE html>
<html>
<head>
    <title>OMR File Upload with Image Cropping</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add Cropper.js CSS and JS links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            width: auto; 
            height: auto;
            font: 15px arial;
            margin: 0 auto;
            margin-bottom: calc(10vh + 20px); /* Add room for the footer */
        }
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
            background-color: #f5f5f5;
            font: 9px arial;
            z-index: 1;
            margin: 100 100;
        }
        .form-group {
            text-align: center; 
          }          
        .preview-txt {
            position: center;
            font: 50px times;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="container mt-5 wider-content" name="upload_area" id="upload_area">
        <div class="row justify-content-center">
            <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="text-center">Upload an Image</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="file" accept="image/*" class="form-control-file" name="file" id="file" style="display: none;">
                                <button type="button" class="btn btn-info btn-med" onclick="openFileInput()">
                                    <span class="glyphicon glyphicon-folder-open"></span> Choose a File
                                </button>
                                
                            </div>
                            <div class="form-group">
                                <h3>Or</h3>
                                <input type="file" accept="image/*" capture="environment" class="form-control-file" name="camera_input" id="camera_input"style="display: none;">
                                <canvas id="camera_input" style="display: none;"></canvas>
                                <button type="button" class="btn btn-info btn-med" onclick="openCameraInput()">
                                    <span class="glyphicon">&#xe046;</span> Take a Picture
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container mt-5" hidden="true" name="cropping_area", id="cropping_area">
        <!-- Allow the User to Select a Model-->
        <div class="form-group">
            <label for="model">Select a Model:</label>
            <select class="form-control" id="model" name="model">
                {% for i in range(models|length) %}
                <option value="{{ models[i] }}">{{ models[i] }} ({{ dates[i] }})</option>
                {% endfor %}
            </select>
        </div>
        <form method="POST" action="/upload" enctype="multipart/form-data" name="pform" id="pform">
            <!-- Add an image preview and cropping area -->
            <div class="form-group mt-3">
                <div class="image-container">
                    <p class="preview-txt">Image Preview</p>
                    <img id="croppedImage" alt="Cropped Image">
                    <input type="hidden" name="image_data" id="image_data">
                    <input type="hidden" name="model_data" id="model_data">
                </div>
            </div>
            <br>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-lg" onclick="submitCroppedImages()" >Upload and Process</button>
                <br>
            </div>
        </form>
    </div>
    <footer class="mt-5">
        <p class="text-center"></p>
        <p class="text-center"> Website Source Code: <a href="https://github.com/MasonDill/mono-web">https://github.com/MasonDill/mono-web</a>
         OMR Source Code: <a href="https://github.com/MasonDill/tf-end-to-end">https://github.com/MasonDill/tf-end-to-end</a>
         Published OMR Models: <a href="https://huggingface.co/MasonDill/Monophonic_OMR">https://huggingface.co/MasonDill/Monophonic_OMR</a></p>
    </footer>
    <!-- Add Bootstrap JS and jQuery links for enhanced functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function handleImageChange(input) {
            const file = input.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    image.src = e.target.result;
                    cropper.replace(e.target.result);
                };
                reader.readAsDataURL(file);

                // Show the cropping area
                document.getElementById('cropping_area').hidden = false;                
            }
        }
        
        function openCameraInput() {
            // Trigger the click event on the camera input element
            const cameraInput = document.getElementById('camera_input');
            cameraInput.click();
        }
        
        // Initialize Cropper.js and add the event listener for the 'file' input
        const image = document.getElementById('croppedImage');
        const cropper = new Cropper(image, {
            viewMode: 2, // Set the view mode to 'crop'
            ready() {
                cropper.setCropBoxData({
                    left: 0,
                    top: 0,
                    width: 0xFFFFFFFF, // Select the entire canvas
                    height: 0xFFFFFFFF,
                });
            },
        });


        const fileInput = document.getElementById('file');
        fileInput.addEventListener('change', function (e) {
            handleImageChange(e.target);
        });
        
        // Add the event listener for the camera input
        const cameraInput = document.getElementById('camera_input');
        cameraInput.addEventListener('change', function (e) {
            handleImageChange(e.target);
        });

        function submitCroppedImages() {
            form = document.getElementsByTagName('pform')[0];

            // Set the formdata object to the cropped image data
            const formData = new FormData(form);

            // Get the cropped canvas
            formData.append('image_data', cropper.getCroppedCanvas().toDataURL());

            const hideenImageData = document.getElementById('image_data');
            hideenImageData.value = cropper.getCroppedCanvas().toDataURL();

            // Get the model name
            const model = document.getElementById('model');
            formData.append('model', model.value);

            const hiddenModel = document.getElementById('model_data');
            hiddenModel.value = model.value;

            // Submit the form
            form.submit();
        }

        function openCameraInput() {
            document.getElementById('camera_input').click();
        }

        function openFileInput() {
            document.getElementById('file').click();
        }
    </script>
</body>
</html>
